
@media screen and (max-width:765px){
  header{
    .header-container{
      .links{
        display: none;
      }
      .cta{
        display: none;
      }
      .hamburger{
        display: block;
      }
    }
  }
  main{
    .firstSection{
      padding-left: 0rem;
      flex-direction: column-reverse;
      &Text{
        text-align: center;
        align-items: center;
        margin-top: 1rem;
      }
      .illustration{
        width: 100%;
        left: -4rem;
        
        &::after{
          background: url('../images/bg-intro-mobile.svg') no-repeat center / cover;
        }

        .phones{
          position: absolute;
          z-index: 50;
          height: 28rem;
          width: 100%;
          left: 5rem;
        }
      }
    }
    .secondSection{
      text-align: center;
    }
    .secondSection,.thirdSection{
      padding: 3rem 1rem;
    }
  }
  footer{
    .row{
      padding: 3rem 1rem;
      text-align: center;
      div{
        margin-bottom: 1rem;
      }
      .fourth{
        text-align: center;
      }
    }
  }
}